.qlluong-container {
  width: 100%;
  height: 80vh;

  .qlluong-header {
    transform: translateY(65px);
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    padding: 10px;
    border-bottom: 1px solid;

      .qlluong-title {
        margin-left: 30px;
      }

    .qlluong-search {
      align-items: center;

      .qlluong-input {
        padding: 10px;
        outline: none;
        border: none;
        border-bottom: 1px solid;
      }

      .qlluong-icon {
        cursor: pointer;
        padding: 10px;
        border-radius: 0 10px 10px 0;

        &:hover {
          color: aqua;
        }
      }
    }
  }

  .qlluong-table {
    width: 80%;
    height: 550px;
    transform: translateY(85px);
    margin-left: 10%;
    table {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      tr {
        th {
          width: 200px;
          padding-top: 10px;
        }

        .chucnang {
          width: 400px;
        }
        td {
          width: 200px;
          height: 50px;
          text-align: center;
          border-bottom: 1px solid #ccc;
        }

        .function-table-qlluong {
          width: 300px;
          // background-color: antiquewhite;

          button {
            cursor: pointer;
            width: 70px;
            height: 25px;
            margin: 10px;
            border: none;
            outline: none;
            font-weight: 550;

            &:hover {
              color: #ccc;
              transform: scale(1.1);
              transition: 100ms;
            }

            &:nth-child(1) {
              background-color: #1e90ff;
            }

            &:nth-child(2) {
              background-color: #32cd32;
            }

            &:nth-child(3) {
              background-color: #dc143c;
            }
          }
        }
      }
    }
  }

  .qlluong-modal {
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, 0.3);
    margin-top: -85vh;
    z-index: 100;
    position: relative;
    display: none;

    .qlluong-modal-child {
      width: 700px;
      height: 500px;
      background-color: #fff;
      position: absolute;
      top: 100px;
      left: 400px;

      .qlluong-child-close {
        text-align: right;
        padding: 5px 10px;
        opacity: 1;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }

      .qlluong-content-title {
        text-align: center;
        height: 40px;
        width: 100%;
      }

      .qlluong-content {
        width: 100%;
        display: flex;

        .qlluong-content-img {
          width: 250px;
          height: 300px;
          margin: 40px 60px;

          img {
            width: 250px;
            height: 300px;
          }
        }
      }

      .qlluong-content-information {
        width: 100%;
        margin: 50px 20px 0 0;

        p {
          font-size: 15px;
          font-weight: 500;
          padding: 15px 10px;
        }
      }

      .btn-update {
        background-color: #4caf50; /* Green */
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        margin-left: 50px;
        cursor: pointer;
      }
    }
  }
}
