.container_Statistical {
  width: 100%;
  height: 100vh;
  position: relative;

  .container_Statistical_input {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 5;
    background-color: rgb(0, 0, 0, 0.7);
    display: grid;
    place-items: center;
    .container_Statistical_input_content {
      border-radius: 5px;
      width: 40%;
      height: 200px;
      background-color: white;
      p {
        margin-top: 5px;
        text-align: center;
        padding: 10px 0;
        font-weight: 500;
        color: #d63031;
        font-size: 20px;
      }
      button {
        font-weight: 600;
        margin-top: 15px;
        padding: 8px 30px;
        border: 1px solid #0984e3;
        cursor: pointer;
        border-radius: 5px;
        background-color: #fff;
        margin-left: 50%;
        transform: translateX(-50%);
        &:hover {
          cursor: pointer;
          background-color: #0984e3;
          color: #fff;
        }
      }
      .container_Statistical_input_content_1 {
        width: 100%;
        height: 70px;
        margin-top: 8px;
        display: flex;
        .container_Statistical_input_content_1_1 {
          width: 50%;
          margin-top: 18px;
          label {
            text-transform: capitalize;
            font-size: 16px;
            margin-left: 30px;
          }
          input {
            cursor: pointer;
            margin-left: 10px;
            width: 50%;
            height: 30px;
          }
        }
      }
    }
    .container_Statistical_loader {
      width: 200px;
      display: none;
      height: 100px;
      p {
        font-size: 25px;
        margin-top: 8px;
        color: #fff;
        text-align: center;
      }

      .loader {
        margin-left: 36%;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        border: 3px solid;
        border-color: #fff #fff transparent transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
      }
      .loader::after,
      .loader::before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 3px solid;
        border-color: transparent transparent #ff3d00 #ff3d00;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotationBack 0.5s linear infinite;
        transform-origin: center center;
      }
      .loader::before {
        width: 32px;
        height: 32px;
        border-color: #fff #fff transparent transparent;
        animation: rotation 1.5s linear infinite;
      }

      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      @keyframes rotationBack {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-360deg);
        }
      }
    }
  }

  .container_Statistican_content {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 1s all;
    z-index: 4;
    .container_Statistican_content_text {
      width: 80%;
      height: 70px;
      margin-left: 10%;
      transform: translateY(65px);
      font-weight: 600;
      font-size: 25px;
      display: flex;
      button {
        font-weight: 500;
        color: #000;
        height: 30px;
        margin-left: 100px;
        margin-top: 6px;
        padding: 0 14px;
        cursor: pointer;
        border: 1px solid #d63031;
        background-color: transparent;
        border-radius: 3px;
        &:hover {
          border: 1px solid #0984e3;
          background-color: #3498db;
          color: #fff;
        }
      }
    }
    .container_Statistican_content_recharts {
      width: 90%;
      margin-left: 5%;
      height: 83vh;
      margin-top: 40px;
      position: relative;
      .container_Statistican_content_recharts_1 {
        width: 100%;
        height: 280px;
        display: flex;
        .container_Statistican_content_recharts_1_1 {
          width: 50%;
          height: 100%;
          p {
            font-weight: 600;
            margin-left: 80px;
          }

          .BarChart_cont {
            margin-top: 10px;
          }
        }
      }

      .container_Statistican_content_recharts_2 {
        width: 100%;
        height: 300px;
        p {
          margin-top: 10px;
          text-transform: capitalize;
          font-weight: 600;
          margin-left: 80px;
        }
        .AreaChart {
          margin-top: 20px;
        }
      }
    }
  }
}
