.container_AccountManagement {
  width: 100%;
  height: 100vh;
  .container_AccountManagement_text {
    width: 60%;
    height: 50px;
    margin-left: 40%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    transform: translateY(70px);
    .search_quanlytk{
        margin-left: 15px;
        input{
            cursor: pointer;
            margin-top: 5px;
            border: none;
            border-radius: 5px;
            border: 1px solid #444;
            padding: 5px 10px;
        }
    }
}
  .container_AccountManagement_table {
    width: 90%;
    height: 500px;
    margin-left: 5%;
    margin-top: 75px;
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        text-transform: capitalize;
        padding: 10px;
      }
      td {
        button {
          cursor: pointer;
          padding: 3px 8px;
          margin-left: 15px;
          border: none;
          outline: none;
          background-color: transparent;
          font-size: 15px;
          i{
              font-size: 15px;
          }
          &:nth-child(1):hover {
            cursor: pointer;
            color: #f39c12;
          }
          &:nth-child(2):hover {
            cursor: pointer;
            color: #d63031;
          }
          &:nth-child(3):hover {
            cursor: pointer;
            color: #0984e3;
          }
        }
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    }
  }
}
